[submodule "server/src/main/cpp/sqlite"]
	path = server/src/main/cpp/sqlite
	url = https://github.com/frida/sqlite
[submodule "server/src/main/cpp/wsServer"]
	path = server/src/main/cpp/wsServer
	url = https://github.com/Theldus/wsServer


[submodule "server/src/main/cpp/jsoncpp"]
	path = server/src/main/cpp/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "server/src/main/cpp/quickjspp"]
	path = server/src/main/cpp/quickjspp
	url = https://github.com/ftk/quickjspp
[submodule "server/src/main/cpp/base64"]
	path = server/src/main/cpp/base64
	url = https://github.com/tobiaslocker/base64/
