*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.github/workflows/env.json
/.github/workflows/.idea
/app/xposed/release/*
/.vscode/settings.json
/app/lsposed/release/*
/app/lsposed/base.apk
/dex/bin/*
/app/lspatch/release/*