*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/cpp/cmake-build-debug/
/app/src/main/cpp/.idea/
/app/src/main/assets/shell/armeabi-v7a/
/app/src/main/assets/shell/arm64-v8a/
/app/src/main/assets/shell/x86/
/app/src/main/assets/shell/x86_64/
/app/src/xposed/assets/shell/apps.txt
/.github/workflows/.env
