/build
/src/main/cpp/CMakeFiles/
/src/main/cpp/auto_server
/src/main/cpp/cmake_install.cmake
/src/main/cpp/CMakeCache.txt
/src/main/cpp/Makefile
/src/main/cpp/quickjspp/quickjs/CMakeFiles/
/src/main/cpp/quickjspp/quickjs/cmake_install.cmake
/src/main/cpp/quickjspp/quickjs/libquickjs.a
/src/main/cpp/quickjspp/quickjs/libquickjs-dumpleaks.a
/src/main/cpp/quickjspp/quickjs/Makefile
